body{
    background-color: #d7d7d7;
    padding: 0 50px 30px 50px;
}
*{
    font-family: 'Roboto', sans-serif;
}
/*belongs to header*/
.shadyLogo {
    background: url("../images/logo.png") transparent;
    width: 150px;
    height: 100px;
    border: 0;
    margin: 30px auto 30px auto;
    display: block;
}
.shadyLogo:hover {
    background-color: transparent;
}
.shadytop {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'Rancho', cursive;
    color: #6d6e76;
    background-color: #6d6e76;
    font-size: 30pt;
    background: -moz-linear-gradient(left,  rgba(90,154,168,0) 0%, rgba(90,154,168,0.61) 46%, rgba(93,157,174,0.68) 51%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(90,154,168,0) 0%,rgba(90,154,168,0.61) 46%,rgba(93,157,174,0.68) 51%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to right,  rgba(90,154,168,0) 0%,rgba(90,154,168,0.61) 46%,rgba(93,157,174,0.68) 51%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005a9aa8', endColorstr='#007db9e8',GradientType=1 );
    padding-left:20px;
    line-height: 100px;
}
@media (min-device-width:300px) and (max-device-width: 800px) {
    .shadytop{
        font-size: 20px;
    }
}
/*Belongs to panels*/

.shady-panel-body{
    box-shadow: 2px 1px 5px #d5d9dc;
    border-radius: 0;
}
.panel-default > .panel-heading.shady-panel-heading{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 17px;
}
.panel-default > .panel-heading.shady-panel-heading.background-color-blue{
    background-color: #5a9aa8;

}
.shady-switcher{
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    border: 0;
    margin-right: -15px;
}
.panel-default > .panel-heading.shady-panel-heading.background-color-red{
    background-color:#CC0000;

}
.panel-default > .panel-heading.shady-panel-heading.background-color-yellow{
    background-color:#FFF768;

}
.panel-default > .panel-heading.shady-panel-heading.background-color-green{
    background-color:#00E51A;

}
.panel-default > .panel-heading.shady-panel-heading.background-color-purple{
    background-color:#733182;

}
/*//until now was the header and the top*/
.shady-panel-heading h3{
    color: #fff;
}
.panel-body{
    margin-bottom: 30px;
}
.ct-series-c .ct-slice-pie {
    fill: rgba(46, 197, 14, 0.83);
}
.shady-too-long {
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*in regards to the table text being too long so three dots*/
}
@media (max-width: 978px) {

    body {
        padding: 0;
    }
}
.online-status{
    color: #00E51A;

}
.offline-status{
    color: red;
}
text.ct-label {
    font-size: 1em;
    font-weight: bold;
}
/*this is the pi chart font size*/
span.ct-label.ct-horizontal.ct-end{
    font-size: 1em;
    font-weight: bolder;
    color: yellowgreen;
}
/*this is the column chart area*/

/*next is the legend plugin*/
.ct-chart {
    position: relative;
}
.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
}
.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 3px;
    cursor: pointer;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend .ct-series-0:before {
    background-color: #3c763d;
    border-color: #3c763d;
}
.ct-legend .ct-series-1:before {
    background-color: #d70206;
    border-color: #d70206;
}
/*End of the legend*/

.ct-series-a .ct-bar {
    stroke: #3c763d;
    stroke-width: 17px;
}
#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: red;
}
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}
/*rich mother fuckers*/
.ct-series-b .ct-bar {
    stroke: #d70206;
    stroke-width: 17px;
}
/*poor bastards*/